[Unit]
Description=Python temp reader
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u temp_reader.py
WorkingDirectory=~/git/rasp_pi_heater_read
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
